<div>
    @if (todos().data.length) {
    <div class="grid grid-cols-[auto,auto,auto,auto] gap-3 justify-items-start">
        @for (todo of todos().data; track todo.id) {
        <app-todo-item class="contents" [todo]="todo" />
        }
    </div>
    } @else if (todos().loading) {
    <p>Loading...</p>
    } @else if (todos().error) {
    <p role="alert" class="text-red-600">{{ todos().error?.message }}</p>
    } @else {
    <p><b>Add your first todo item!</b></p>
    }
    <app-todo-form />
</div>