<h1 class="my-3 text-center text-3xl font-semibold">Analog Firebase Todo App</h1>

<section class="flex flex-col items-center gap-3 p-5">
    @if (actionError(); as error) {
    <p role="alert" class="text-red-600">{{ error }}</p>
    }

    @if (user().data) {
    <app-profile />
    <button type="button" class="w-fit rounded-lg border bg-blue-600 p-3 font-semibold text-white"
        (click)="signOut()">
        Logout
    </button>
    <hr class="w-full" />
    <app-todos />
    } @else if (user().loading) {
    <p>Loading...</p>
    } @else if (user().error) {
    <p role="alert" class="text-red-600">{{ user().error?.message }}</p>
    } @else {
    <button type="button" class="bg-red-600 p-2 font-semibold text-white" (click)="signIn()">
        Signin with Google
    </button>
    }
</section>